[Unit]
Description=Set custom splash screens
After=sleep.target

[Service]
Type=simple
ExecStart=SCRIPTPATH/splash-cycler.sh
After=home.mount

[Install]
WantedBy=sleep.target

