[Unit]
Description=Timer to set custom splash screens

[Timer]
OnCalendar=TIMERSPECIFICATION
Unit=custom-suspend-screen.service

[Install]
WantedBy=multi-user.target

