[Unit]
Description=Set custom suspend screens
After=home.mount
Before=xochitl.service

[Service]
Type=simple
ExecStart=SCRIPTPATH/suspend-screen-cycler.sh

[Install]
WantedBy=xochitl.service

